/* body */
body{
    background-color: #FFFFFF;
    font-family: var(--body-font);
}

/* h1 */
h1 {
    color: var(--color-title);
    font-size: var(--h1-font-size);
    line-height: 1.5;
    
}

/* h2 */
h2 {
    color: var(--color-title);
    font-size: 1.2rem;
    font-weight: 600;
}

/* h5 */
h5{
    color: var(--color-title);
}

h4 {
    color: var(--color-title);
}
/* p */
p {
    color: var(--color-text);
    font-size: var(--p-font-size);
    line-height: 1.7;
    font-weight: 300;
}
/* image */

img{
    border-radius: 5px;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);
    margin:0 60px ;
    padding: 0 0 0 20px;
}

/* logo */
.logo {
    font-size: 1.4rem;
}

/* nav-bar */
nav ul {
    display: flex;
}

nav li {
    padding-right: 20px;
    margin-right: 5px;
}

nav li a {
    color: var(--color-text);
}

/* button */

button {
    background-color: var(--color-button);
    color: var(--color-first);
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}



/* main */

/* section 1 */

.div-container{
    display: flex;
    margin: 20px 0 0 60px;
}

.section-container1 {
    flex: 1;
    padding: 5.9375rem 1.25rem;    
    /* border: 1px solid darkblue; */
    max-width: 100%;       
}

section.section-text1 {
    margin-right: 40px;
}

section#section-img1 {
    margin-right: 50px;
}

#img-img1 {
    width: 590px;
    max-width: 100%;
}

/* section 2 */

.section-container2 {
   
    padding: 5.9375rem 1.25rem;    
    /* border: 1px solid darkblue; */
       
}

.flex2 {
    
    padding: 5.9375rem 1.25rem;
    /* border: 1px solid blueviolet; */
    width: 300px;
} 

#section-img2 {
    width: 400px;
}

#img-img2 {
    width: 300px;
}

#section-text2 {
    width: 600px;
    
}

/* section 3 */

#img-img3 {
    width: 250px;
}

/* section 4 */

.div-container-centralizado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

/* section 5 */

.div-container-learn-more {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 90px;
    
}

.learn-more {
   display: flex;
   flex-direction: column;
}

.div__learn-more-img {
    width: 280px;
    height: 300px;     
}

.div__learn-more-text {
    margin-top: 135px;
    
}

.img-learn-more {
    max-width: 100%;
}

.arrow {
    margin-left: 10px;
}

.btn-2 {
    border: none;
    background-color: transparent;
    color: var(--color-text);
    padding: 0;
}

.expandText {
    display: none;
    
}

.span-color {
    color: rgb(95, 227, 185);
}
/* container contact us */

.container-contact-us {
    display: flex;
    
    
}

.contact-us {
    flex: 1;
    margin: 20px 0 0 60px;
    align-items: center;
}

.services {
    width: 500px;
    height: 70px;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-top: 20px;    
}

.services h2 {
    margin-left: 30px;
}

/* image slider */

.img-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.img-slider img {
    width: 150px;    
}